body.rtl {
  direction: rtl !important;
}

.dropdown-icon {
  margin-right: -.5rem !important;
  margin-left: .5rem !important;
}

.input-icon-addon {
  left: auto !important;
  right: 0 !important;
}
.input-icon .form-control:not(:first-child) {
  padding-left: 0;
  padding-right: 2.5rem;
}
.input-icon-addon:last-child {
  right: auto !important;
  left: 0 !important;
}