body.rtl {
  direction: rtl !important;
}

.dropdown-icon {
  margin-right: -.5rem !important;
  margin-left: .5rem !important;
}

.input-icon-addon {
  left: auto !important;
  right: 0 !important;
}
.input-icon .form-control:not(:first-child) {
  padding-left: 0;
  padding-right: 2.5rem;
}
.input-icon-addon:last-child {
  right: auto !important;
  left: 0 !important;
}

.background.front-page{
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slider{
  position: absolute;
  width: 100%;
  height: 100%;
}
.carousel.slides,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
.carousel-inner .item{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10pt 25pt;
}
.carousel-inner .item img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
body[data-controller="main"][data-action="index"] .wrapper{
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: calc(100% - 65px);
}

.gradient-blue{
  background: rgba(96,146,240,1);
  background: -moz-radial-gradient(center bottom, ellipse cover, rgba(96,146,240,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(radial, center bottom, 0px, center center, 100%, color-stop(0%, rgba(96,146,240,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-radial-gradient(center bottom, ellipse cover, rgba(96,146,240,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-radial-gradient(center bottom, ellipse cover, rgba(96,146,240,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-radial-gradient(center bottom, ellipse cover, rgba(96,146,240,1) 0%, rgba(255,255,255,1) 100%);
  background: radial-gradient(ellipse at center bottom, rgba(96,146,240,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6092f0', endColorstr='#ffffff', GradientType=1 );
}